@import "tailwindcss";

@theme {
  --color-primary: #f9f506;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;
  --color-surface-light: #ffffff;
  --color-surface-dark: #2d2c16;
  --color-text-main: #181811;
  --color-text-secondary: #8c8b5f;

  --font-display: var(--font-inter), sans-serif;
}

/* Custom Utilities */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

:root {
  --background: var(--color-background-light);
  --foreground: #181811;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #e8e8e3;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}